<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo</title>
</head>
<body>
        <h1> FAMILIARES </h1>  
        <p></p>
       <ul>
            <p>Listado de Familiares:</p>
            {% for familiar in listado %}
                <p> <li>DNI: {{familiar.dni}}  APELLIDO y NOMBRE: {{familiar.apellido}}, {{familiar.nombre}}   EMAIL: {{familiar.email}}</li></p> 
            {% endfor %}
        </ul>
</body>
</html>